* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

:root {
  --background: rgb(125, 194, 255);
  --theme: rgb(69, 168, 255);
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #dbdada;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--background);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--theme);
}

.container {
  padding: 0 5%;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
}

.app-container {
  height: 500px;
  width: 500px;
  background-color: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
}

.app-title h1 {
  text-align: center;
  margin: 20px 0px;
  color: var(--theme);
}

.app-title i {
  padding-right: 10px;
}

.app-input {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.app-input input {
  height: 30px;
  width: 300px;
  outline: none;
  font-size: 20px;
  border: 2px solid rgb(173, 173, 173);
  border-radius: 5px;
  padding: 0 4px;
}

.app-input button {
  height: 30px;
  width: 70px;
  background-color: var(--theme);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  margin-left: 4px;
  font-size: 16px;
  font-weight: 500;
}

.app-task {
  height: 325px;
  overflow-y: auto;
  /* border: 2px solid rgb(173, 173, 173); */
  /* border-radius: 5px; */
  /* scrollbar-width: none; */
}

.task-list ul li {
  display: flex;
  justify-content: space-between;
}

.task-list ul li:hover {
  .delete-btn {
    opacity: 100%;
    transition: all ease 0.5s;
  }
}

.task-list-left {
  display: flex;
  align-items: center;
}

.task-list ul {
  list-style: none;
}

.task-list ul li {
  height: 30px;
  border-radius: 6px;
  margin: 12px;
  display: flex;
  align-items: center;
  padding: 20px 12px;
  transition: all ease 0.5s;
  cursor: default;
  font-size: 16px;
  font-weight: 400;
}

.task-list ul li:hover {
  background-color: rgb(238, 237, 237);
  transition: all ease 0.5s;
}

.task-list ul li input {
  width: 20px;
  height: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.delete-btn {
  border-radius: 30px;
  opacity: 0%;
  width: 26px;
  height: 26px;
  border: none;
  cursor: pointer;
  background-color: rgb(233, 232, 232);
}

.delete-btn:hover {
  background-color: rgb(204, 204, 204);
}
